<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
<form method="post">

          {% csrf_token %}
          {% for msg in messages %}
          <div style="background-color: rgb(228, 181, 181);padding: 10px;">
            <p style="color:tomato;">{{msg}}</p>
            </div>
          {% endfor %}

          <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" name = 'email'  placeholder="Enter Your Email">
            </div>



          <button type="submit" class="btn btn-warning">Enter</button>
        </form>

</body>
</html>