{% extends 'record/base.html' %}

{% block title %}
<title>Registration Form</title>
{% endblock %}

{% block content %}
<div class="container border border-rounded p-5" style='margin-top:100px;width:500px;'>
  <h1 style="color:darkmagenta ;font-family:Arial, Helvetica, sans-serif;text-align: center;">Email Verification</h1>
<br>
<form method="post">
    {% csrf_token %}
    {% for msg in messages %}
    <div style="background-color: rgb(228, 181, 181);padding: 10px;">
    <p style="color:tomato;">{{msg}}</p>
    </div>
    {% endfor %}
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" name = 'email' aria-describedby="emailHelp" placeholder="Enter email" required>
        <small id="emailHelp" class="form-text text-muted">Please do not share OTP with anyone.</small>
      </div>
      <button type="submit" class = 'btn btn-primary ' >Verify Email</button>
      </form>
</div>
{% endblock %}
