{% extends 'record/base.html' %}

{% block title %}
<title>otp verification</title>
{% endblock %}

{% block content %}
<div class='container border border-rounded mt-5 p-5' style="width: 400px;">
  <h2 style="color:darkmagenta ;font-family:Arial, Helvetica, sans-serif;text-align: center;">Verify OTP</h2>
<form method="post">
    {% csrf_token %}
    {% for msg in messages %}
    <div style="background-color: rgb(228, 181, 181);padding: 10px;">
      <p style="color:tomato;">{{msg}}</p>
      </div>
    {% endfor %}
    <br>
    <div class="form-group">
        <!-- <label for="exampleInputOtp">Enter OTP</label> -->
        <input type="text" class="form-control" name = 'otp' placeholder="Enter OTP">
      </div>
      <button type="submit" class='btn btn-primary'>Verify OTP </button>
      </form>
      </div>

{% endblock %}
