{% extends 'record/base.html' %}
{% block title %}
    <title>Record</title>
    {% endblock %}
{% block content %}
    <h1>{{monthName}}</h1>
        <table class='table table-sm'>
            <tr><th>Sr.No</th>
                <th>Name</th>
                <th>Saving</th>
                <th>Intrest</th>
                <!-- <th>Loan</th> -->
                <th>Paid Loan</th>
                <th>Borrow Loan</th>
                <th>fine</th>
                <th>Update</th>

                </tr>
<tbody>
                {% for data in allData %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.username}}</td>
                    <td>{{data.saving}}</td>
                    <td>{{data.intrest}}</td>
                    <!-- <td>{{data.loan}}</td> -->
                    <td>{{data.paidLoan}}</td>
                    <td>{{data.borrowLoan}}</td>
                    <td>{{data.fine}}</td>
                    <td><a href="{% url 'updateRecord' data.id %}"><button class="btn btn-warning">updateRecord</button></a></td>


                    </tr>
                {% endfor %}
            </tbody>
            
                <tfoot>
                <tr>
                        <td></td>
                    <td><b>Total</b></td>
                    <td><b>{{savingSum.saving__sum}}<b></td>
                    <td><b>{{intrestSum.intrest__sum}}</b></td>
                    <td><b>{{paidLoanSum.paidLoan__sum}}</b></td>
                    <td><b>{{borrowLoanSum.borrowLoan__sum}}</b></td>
                    <td><b>{{fineSum.fine__sum}}</b></td>

                    </tr>
                    </tfoot>
                
        </table>
                    
            
{% endblock %}